@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body, div, nav, footer,
main, aside, header, h1, h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f8f8;
}

  /*  --- Header ---  */

header {
  padding: 5px 25px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #455a64, #607d8b);
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

h1 {
  font-size: 26px;
  line-height: 27px;
  font-weight: normal;
  font-family: 'Pacifico', cursive;
}

header h1 {
  float: left;
}

h2 {
  margin: 0 0 18px 0;
}

#header-navigation {
  float: right;
}

header a {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header h1 a {
  font-weight: normal;
}

header h1 a:hover {
  text-decoration: none;
}

  /*  --- End of header ---  */

  /*  --- Main ---  */

main {
  margin: 20px auto;
  padding: 0;
  width: 90%;
}

#notes {
  display: grid;
  grid-template-columns: 25% 75%;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 22px;
}

main a {
  color: #196be6;
  text-decoration: none;
}

#note-content {
  padding: 14px 36px;
}

#notes-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
}

#notes-list li {
  position: relative;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #eceff1;
  padding: 14px 18px;
  box-shadow: 1px 1px 3px #cfd8dc;
  cursor: pointer;
}

#notes-list li.active {
  background: #455a64;
  border: 1px solid #455a64;
  color: #f0f0f0;
}

#notes-list li:hover {
  border: 1px solid #b0bec5;
  background: #cfd8dc;
}

#notes-list li.active:hover {
  background: #78909c;
}

p.note-title {
  font-weight: bold;
  margin: 0 0 8px 0;
  height: 16px;
  overflow: hidden;
}

p.note-teaser {
  margin: 0;
  max-height: 48px;
  overflow: hidden;
}

.note-edit-buttons {
  position: absolute;
  display: none;
  top: 0;
  right: 5px;
}
.note-edit-buttons button {
  background: #80808061;
  border-radius: 3px;
  border: 1px solid #99999961;
  padding: 3px 4px 1px 4px;
}

.note-edit-buttons button:hover {
  background: #808080e6;
}

li.active .note-edit-buttons button:hover {
  background: #b3b3b3e6;
}

  /*  --- End of main ---  */

  /*  --- Edit note form ---  */

#note-edit-form {
  margin: 20px 0;
}

#note-edit-form input[type="text"], textarea, button {
  margin: 10px 0;
}

  /*  --- End of edit note form ---  */

