/*
* style.css
*
* Файл общих стилей сайта
*
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

 /*  --- Common styles ---  */

html, body, div, nav, footer,
main, aside, header, h1, h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f8f8;
  font-family: 'PT Sans', sans-serif;
}

main.index {
  width: 90%;
  margin: 20px auto;
  padding: 0;
}

main {
  margin: 40px 10%;
  padding: 0;
  font-size: 15px;
}

main a {
  color: #196be6;
  text-decoration: none;
}

h1 {
  margin-bottom: 32px;
  font-family: serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  font-family: 'PT Serif', serif;
}

h2 {
  margin: 0 0 18px 0;
}

.grid-container {
  display: grid;
  margin-top: 18px;
  row-gap: 10px;
}

.two-columns {
  grid-template-columns: 180px 300px;
}

.user-property {
  font-weight: bold;
}

input[type="text"], textarea, button {
  font-family: 'PT Sans';
  font-size: 15px;
}

label {
  font-family: 'PT Serif';
  font-size: 15px;
}

  /*  --- End of common styles ---  */

  /*  --- Header ---  */

header {
  width: 100%;
  padding: 5px 25px;
  background: linear-gradient(to bottom, #455a64, #607d8b);
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-family: 'PT Serif', serif;
}

#header-navigation {
  float: right;
  padding: 5px 0;
}

#header-navigation a {
  margin-left: 13px;
  font-weight: bold;
  font-style: italic;
}

header a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header #logo {
  float: left;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  line-height: 42px;
}

header #logo a {
  margin: 0;
  padding: 0 0 0 41px;
  background: url(images/icons/peanut.png) no-repeat;
  background-position: 0px -1px;
  font-weight: normal;
}

header #logo a:hover {
  text-decoration: none;
}

.error-message {
  border: 1px solid #e3c9c9;
  background: #f7d4d4;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#header-user-menu {
  display: inline-block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#header-user-menu a {
  padding-right: 4px;
}

#header-user-menu ~ a {
  margin-left: 0;
}

#user-menu {
  display: block;
  position: absolute;
  top: 38px;
  height: 0px;
  margin: 0;
  padding: 0px 15px 0px 0px;
  border-radius: 3px;
  border-top-left-radius: 0;
  background: #657e8b;
  overflow: hidden;
  list-style-type: none;
  transition-duration: 0.2s;
}

  /*  --- End of header ---  */

  /*  --- Index main ---  */

#db-errors {
  padding: 10px;
}

#notes {
  display: grid;
  grid-template-columns: 25% 75%;
  font-size: 15px;
  color: #333;
  line-height: 22px;
  letter-spacing: 0.2px;
}

#note-content {
  padding: 14px 36px;
  word-wrap: break-word;
}

#notes-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
}

#notes-list li {
  position: relative;
  margin-bottom: 10px;
  padding: 14px 18px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #cfd8dc;
  background: #eceff1;
  cursor: pointer;
}

#notes-list li.active {
  border: 1px solid #455a64;
  background: #455a64;
  color: #f0f0f0;
}

#notes-list li:hover {
  border: 1px solid #b0bec5;
  background: #cfd8dc;
}

#notes-list li.active:hover {
  background: #5d737e;
}

p.note-title {
  height: 16px;
  margin: 0 0 8px 0;
  overflow: hidden;
  font-weight: bold;
}

p.note-teaser {
  height: 48px;
  margin: 0;
  overflow: hidden;
}

.note-edit-buttons {
  position: absolute;
  display: none;
  top: 0;
  right: 5px;
}

.note-edit-buttons button {
  padding: 3px 4px 1px 4px;
  border-radius: 3px;
  border: 1px solid #cccccccc;
  background: #adadadcc;
}

.note-edit-buttons button:hover {
  background: #808080e6;
}

#note-dates {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 20px 8px 20px;
  font-size: 13px;
  color: #777;
}

#note-dates #last-modified {
  text-align: right;
}

  /*  --- End of index main ---  */

  /*  --- Registraion form ---  */

#register-form {
  margin: 34px 0px;
  align-items: center
}

#register-form input {
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}

#register-form button,
#user-settings-form button {
  width: fit-content;
}

p#login {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #555;
}

label.required::after {
  display: inline-block;
  padding: 0 0 0 4px;
  content: "*";
  color: red;
}

.description {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 180px;
  color: #999;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

#confirm-password + .description {
  font-weight: bold;
}

.term-conditions, #captcha {
  grid-column-start: 1;
  grid-column-end: 3;
}

iframe#term-conditions {
  display: none;
  width: 75%;
  margin: 0 auto;
  height: 300px;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.term-conditions a:hover {
  text-decoration: underline;
}

#captcha {
  margin: 0;
  padding: 12px 18px;
  border: 1px solid #e6e6bc;
  background: #f8f7d3;
}

#reg-errors {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: -12px 0 18px 0;
  padding: 4px 16px;
}

  /*  --- End of registraion form ---  */

  /*  --- Welcome page ---  */

  main.gretting {
    margin: 50px auto;
    text-align: center;
  }

  main.gretting p span {
    margin-left: 1em;
    font-weight: bold;
  }

  /*  --- End welcome page ---  */

  /*  --- Login form ---  */

#login-form {
  width: 200px;
  margin: 0 auto;
}

#login-form label,
#login-form input,
#login-form button {
  display: block;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 200px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}

.centered {
  text-align: center;
}

h1.centered {
  margin: 12px 0;
}

#login-form label {
  margin: 2px;
  padding: 12px 0px;
}

#login-form button {
  margin: 25px auto;
}

main.login-form-container {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

div.login-form-container {
  width: 372px;
  margin: 0 auto calc(50vh - 140px) auto;
  padding: 10px 85px;
  border: 1px solid #abbdc4;
  border-radius: 5px;
  background: #c3cfd5;
}

#login-error-message {
  align-self: end;
  width: 65vw;
  padding: 16px;
  text-align: center;
}

  /*  --- End of login form ---  */

  /*  --- Edit note form ---  */

#note-edit-form {
  margin: 20px 0;
}

#note-edit-form input[type="text"], textarea, button {
  margin: 10px 0;
}

#note-edit-form textarea#note-content {
  padding: 10px 16px;
}

  /*  --- End of edit note form ---  */

  /*  --- User settings page ---  */

#user-settings-error-message {
  margin: 18px 0;
  padding: 0 18px;
  width: 480px;
  text-align: center;
}
  /*  --- End of user settings page ---  */

  /*  --- User admin page  ---  */

#user-list {
  table-layout: fixed;
  width: 100%;
  min-width: 920px;
  border-collapse: collapse;
  font-size: 14px;
  /*border: 3px solid purple;*/
}

#user-list th {
  background: #d5d5d5;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #eee;
}

#user-list thead th:nth-child(1) {
  width: 5%;
}

#user-list thead th:nth-child(2) {
  width: 16%;
}

#user-list thead th:nth-child(3) {
  width: 16%;
}

#user-list thead th:nth-child(4) {
  width: 12%;
}

#user-list thead th:nth-child(5) {
  width: 18%;
}

#user-list thead th:nth-child(6) {
  width: 7%;
}

#user-list thead th:nth-child(7) {
  width: 12%;
}

#user-list thead th:nth-child(8) {
  width: 13%;
}

#user-list th,
#user-list td {
  padding: 10px;
  text-align: left;
}

#user-list tbody td {
  border: none;
}

  /*  --- End of user admin page ---  */