/*
* style.css
*
* Файл общих стилей сайта
*
*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body, div, nav, footer,
main, aside, header, h1, h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f6f8f8;
}

  /*  --- Header ---  */

header {
  width: 100%;
  padding: 5px 25px;
  background: linear-gradient(to bottom, #455a64, #607d8b);
  overflow: hidden;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

h1 {
  font-size: 26px;
  line-height: 27px;
}

header h1 {
  float: left;
  padding: 0 31px;
  background: url('images/icons/peanut.png') no-repeat;
  background-position: 0 -1px;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  line-height: 42px;
}

main h1 {
  font-family: serif;
  font-weight: bold;
}

h2 {
  margin: 0 0 18px 0;
}

#header-navigation {
  float: right;
  padding: 5px 0;
}

header a {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header h1 a {
  font-weight: normal;
}

header h1 a:hover {
  text-decoration: none;
}

  /*  --- End of header ---  */

  /*  --- Main ---  */

main {
  width: 90%;
  margin: 20px auto;
  padding: 0;
}

#db-errors {
  padding: 10px;
  border: 1px solid #bf9797;
  background: #ffb8b8;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#notes {
  display: grid;
  grid-template-columns: 25% 75%;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 22px;
}

main a {
  color: #196be6;
  text-decoration: none;
}

div#note-content {
  padding: 14px 36px;
}

#notes-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 16px;
}

#notes-list li {
  position: relative;
  margin-bottom: 10px;
  padding: 14px 18px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #cfd8dc;
  background: #eceff1;
  cursor: pointer;
}

#notes-list li.active {
  border: 1px solid #455a64;
  background: #455a64;
  color: #f0f0f0;
}

#notes-list li:hover {
  border: 1px solid #b0bec5;
  background: #cfd8dc;
}

#notes-list li.active:hover {
  background: #5d737e;
}

p.note-title {
  height: 16px;
  margin: 0 0 8px 0;
  overflow: hidden;
  font-weight: bold;
}

p.note-teaser {
  height: 48px;
  margin: 0;
  overflow: hidden;
}

.note-edit-buttons {
  position: absolute;
  display: none;
  top: 0;
  right: 5px;
}

.note-edit-buttons button {
  padding: 3px 4px 1px 4px;
  border-radius: 3px;
  border: 1px solid #cccccccc;
  background: #adadadcc;
}

.note-edit-buttons button:hover {
  background: #808080e6;
}

#note-dates {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 20px 8px 20px;
  font-size: 13px;
  color: #777;
}

#note-dates #last-modified {
  text-align: right;
}
  /*  --- End of main ---  */

  /*  --- Registraion form ---  */

#register-form {
  display: grid;
  margin: 34px 0px;
  grid-template-columns: 150px 300px;
  grid-template-rows: repeat(4, auto);
  row-gap: 10px;
  align-items: center
}

#register-form input {
  font-size: 13px;
}

#register-form button {
  width: fit-content;
}

p#login {
  font-family: sans-serif;
  font-size: 13px;
  color: #555;
}

label.required::after {
  display: inline-block;
  padding: 0 0 0 4px;
  content: "*";
  color: red;
}

.description {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 150px;
  color: #999;
  font-family: sans-serif;
  font-size: 12px;
}

#confirm-password + .description {
  font-weight: bold;
}

.term-conditions, #captcha {
  grid-column-start: 1;
  grid-column-end: 3;
}

iframe#term-conditions {
  display: none;
  width: 75%;
  margin: 0 auto;
  height: 300px;
  border: 1px solid #bbb;
  border-radius: 2px;
}

.term-conditions a:hover {
  text-decoration: underline;
}

#captcha {
  margin: 0;
  padding: 12px 18px;
  border: 1px solid #e6e6bc;
  background: #f8f7d3;
}

#reg-errors {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: -12px 0 18px 0;
  padding: 4px 16px;
  border: 1px solid #bf9797;
  background: #ffb8b8;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 18px;
}

  /*  --- End of registraion form ---  */

  /*  --- Login form ---  */

#login-form {
  width: 200px;
  margin: 0 auto;
}

#login-form label,
#login-form input,
#login-form button {
  display: block;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 200px;
  padding: 2px;
}

.centered {
  text-align: center;
}

h1.centered {
  margin: 12px 0;
}

#login-form label {
  margin: 2px;
  padding: 12px 0px;
}

#login-form button {
  margin: 25px auto;
}

main.login-form-container {
  display: grid;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

div.login-form-container {
  width: 372px;
  margin: 0 auto calc(50vh - 160px) auto;
  padding: 10px 85px;
  border: 1px solid #abbdc4;
  border-radius: 5px;
  background: #c3cfd5;
}

div#error_message {
  align-self: end;
  width: 65vw;
  padding: 16px;
  border: 1px solid #e3c9c9;
  background: #f7d4d4;
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 18px;
}

  /*  --- End of login form ---  */

  /*  --- Edit note form ---  */

#note-edit-form {
  margin: 20px 0;
}

#note-edit-form input[type="text"], textarea, button {
  margin: 10px 0;
}

#note-edit-form textarea#note-content {
  padding: 10px 16px;
}

  /*  --- End of edit note form ---  */

